
<!DOCTYPE html>
<html>
<head>
   <title>Autor del proyecto</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
    <h1>Autor del proyecto</h1>
    <p>Alejandro Echaniz Jimenez</p>
    <p><a href="a.echanizj@alumnos.upm.es">a.echanizj@alumnos.upm.es</a></p>
     <ul>
      <li><a href="/"> Página de inicio</a></li>
    </ul>
    <img src="/images/foto.JPG"  width="240" height="360" alt="Imagen del alumno">
  </body>
</html>
